.header {
  background-color: #de7111;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  height: 400px;
  width: 100%;
  position: relative;
  top: 120px;
  left: 0;
  padding: 1.5em;
}

.headerItems {
  display: block;
  margin: auto;
  text-align: center
}
